# Env (optional in prod)
APP_ENV=development
NODE_ENV=development

#
EXPO_PUBLIC_APP_SCHEME=your-schema
EXPO_PUBLIC_WEB_HOST=your-backend-api-url

# EAS Project Id
EXPO_PUBLIC_EAS_PROJECT_ID=your-eas-project-id

# Sentry
EXPO_PUBLIC_SENTRY_DSN=your-sentry-dsn
EXPO_PUBLIC_SENTRY_ORG=your-sentry-org
EXPO_PUBLIC_SENTRY_PROJECT=react-native

# Auth Token Required for Sentry Auth in CLI
SENTRY_AUTH_TOKEN=your-sentry-personal-token

# PostHog
EXPO_PUBLIC_POSTHOG_API_KEY=your-posthog-key
EXPO_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# OneSignal
EXPO_PUBLIC_ONESIGNAL_APP_ID=your-onesignal-id

# Google Oauth
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-web-client-id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-client-id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-android-client-id
